@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* *{
  margin: 0;
  padding: 0;
 }  */
.bg-img {
  background-image: linear-gradient(to bottom, rgb(6 6 6 / 52%), rgb(6 6 6 / 52%)), url('/back1.jpg');
  max-height: 1000px;
  /* Center and scale the image nicely */
   background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 

  /* Needed to position the navbar */
  position: relative;
}

.navbar {
  display: flex;
  padding-top: 30px;
  padding-bottom: 80px;

}

.list {
  list-style: none;
  display: flex;
  color: #f9f9f9;
  cursor: pointer;
}

.list li {
  padding: 12px 23px;
}

.heading {
  padding: 0px 143px;
  color: #f9f9f9;
}

.content {
  justify-content: center;
  text-align: center;
  color: white;
  /* font-family: serif; */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-top: 3px solid rgb(116, 116, 243);
  display: none;
  position: absolute;
  background-color: #3a3535;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.70);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li:hover {
  background-color: rgb(80, 78, 78);
}

.but-first {
  padding: 0px 25px;
  margin: 0px 25px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  border-left: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: medium;
}


.but-sec {
  padding: 0px 25px;
  background-color: #ffeb2df7;
  border-radius: 4px;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.8s ease-in-out;

}

.but-sec:hover{
  box-shadow: inset -53px 0px 0px 0px rgba(58, 114, 238, 0.92), inset 53px 0px 0px 0px rgba(58, 114, 238, 0.92);

}

.box {
  background-color: #fefffbad;
  width: 72em;
  padding: 12px;
  margin: auto;
  border-radius: 3px;
  display: flex;
}

.search-box {
  width: 20em;
  background-color: #f5f5f5f2;
  margin: 0px 30px;
  padding: 0px 12px;
  border-radius: 3px;


}

.location-box {
  width: 15em;
  background-color: #f5f5f5f2;
  padding: 0px 12px;
  border-radius: 3px;


}

.category-box {
  width: 15em;
  background-color: #f5f5f5f2;
  margin: 0px 30px;
  padding: 0px 12px;
  border-radius: 3px;

}

.box input {
  background: transparent;
  border: none;
  font-size: medium;
  padding: 16px 0px;
  outline: none;
  overflow: hidden;
}

.search {
  padding: 0px 42px;
  background-color: rgba(56, 114, 238, 0.92);
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}


.search-sec {
  display: flex;
  padding-left: 75px;
  font-size: 20px;
  color: white;
}

.but {
  padding: 18px;
  position: relative;
  display: inline-block;
}

.but button {
  background-color: #fdfdfd78;
  padding: 4px 5px;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  transition: 0.4s ease-in-out;


}

.buttons:hover {
  background-color: #fdfdfd78;
  border: 1px solid white;
  color: white;
  box-shadow: 0px 0px 5px #fdfdfd78,  0px 0px 20px #fdfdfd78, #fdfdfd78 0px 0px 10px;

}

.new-sec {
  font-family: 'Rubik', sans-serif;
  font-size: large;
  padding-left: 143px;
  padding-top: 70px;


}

.gallery-sec {
  margin: auto;
  width: 1100px;
  display: flex;
}


.gallery-1 {
  background-image: url(/images/car.jpg);
  background-repeat: no-repeat;
  background-size: 265px 155px;
  width: 265px;
  background-color: white;
  height: 370px;
  border-radius: 5px;
  border: none;
  margin: 0px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.gallery-2 {
  background-image: url(/images/home.jpg);
  background-repeat: no-repeat;
  background-size: 265px 155px;
  width: 265px;
  background-color: white;
  height: 370px;
  border-radius: 5px;
  border: none;
  margin: 0px 15px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.gallery-3 {
  background-image: url(/images/furniture.jpg);
  background-repeat: no-repeat;
  background-size: 265px 155px;
  width: 265px;
  background-color: white;
  height: 370px;
  border-radius: 5px;
  border: none;
  margin: 0px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.gallery-4 {
  background-image: url(/images/electronic.jpg);
  background-repeat: no-repeat;
  background-size: 265px 155px;
  width: 265px;
  background-color: white;
  border: none;
  margin: 0px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 370px;
  border-radius: 5px;
}

.gallery img {
  width: 100%;
  height: 140px;
}

.desc {
  padding-top: 175px;
  margin-left: 20px;

}

.choice-btn {
  padding: 7px 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  background-color: #e3e1effc;
  cursor: pointer;
}

.choice-btn:hover{
  background-color: yellow ;
  box-shadow: 0px 0px 5px yellow,  0px 0px 25px yellow, yellow 0px 0px 50px;

}

.title {
  font-size: 20px;
  color: rgba(56, 114, 238, 0.92);
}


.desc img {
  width: 20px;
  height: auto;
}

.line {
  border: 1px solid;
  width: 80px;
  color: blue;
}

.categories h1 {
  text-align: center;
  font-size: 30px;
}

.categories p {
  text-align: center;
}


.categories {
  margin: auto;
  width: 53%
}

.categories img {
  width: 70px;
  height: auto;
  padding: 50px 50px;
  margin-top: 10px;
  background: none;


}

.categories img:hover {
  background-color: rgba(56, 114, 238, 0.92);
  filter: invert(1);
}